<md-toolbar class="md-toolbar-tools">
  <h2>Zombie survival</h2>
</md-toolbar>

<md-nav-bar md-selected-nav-item="'page1'" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-click="false" ng-click="$ctrl.filter({})" name="page1">All</md-nav-item>
  <md-nav-item md-nav-click="false" ng-click="$ctrl.filter({ infected: false })" name="page2">Clean</md-nav-item>
  <md-nav-item md-nav-click="false" ng-click="$ctrl.filter({ infected: true })" name="page3">Infecteds</md-nav-item>
</md-nav-bar>

<md-content flex>
  <md-list>
    <md-list-item ng-repeat="survivor in $ctrl.survivorsFilterd"
                  ng-click="$ctrl.show(survivor)">
      <img alt="{{ survivor.name }}" md-whiteframe="1" ng-src="https://robohash.org/{{ survivor.id }}.png" class="md-avatar" />
      <p>{{ survivor.name }}</p>
      <md-icon class="md-secondary" ng-click="$ctrl.show(survivor)" aria-label="Edit">edit</md-icon>
    </md-list-item>
  </md-list>
</md-content>

<md-button ng-click="$ctrl.new()" aria-label="Add" class="md-fab md-fab-bottom-right">
  <md-icon aria-label="Add">add</md-icon>
</md-button>

<md-sidenav md-component-id="right" class="md-sidenav-right">
  <ui-view></ui-view>
</md-sidenav>
