<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span class="md-flex">{{ $ctrl.survivor.name }}</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close" ng-click="$ctrl.close()">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <form name="form" ng-submit="$ctrl.save()">
    <md-input-container class="md-block">
      <label>Name</label>
      <input md-maxlength="30" required md-no-asterisk name="name" ng-model="$ctrl.survivor.name">
      <div ng-messages="form.name.$error">
        <div ng-message="invalid">This value is invalid or not unique.</div>
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
      </div>
    </md-input-container>

    <div layout="row">
      <md-input-container flex="50">
        <label>Age</label>
        <input required name="age" ng-model="$ctrl.survivor.age">
        <div ng-messages="form.age.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex="50">
        <label>Gender</label>
        <md-select name="gender" ng-model="$ctrl.survivor.gender" required>
          <md-option value="M">Male</md-option>
          <md-option value="F">Female</md-option>
        </md-select>
        <div ng-messages="form.gender.$error">
          <div ng-message="invalid">This value is invalid or not unique.</div>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
        <label>Latitude</label>
        <input type="number" name="latitude" ng-model="$ctrl.survivor.latitude" />
        <div ng-messages="form.latitude.$error">
          <div ng-message="invalid">This value is invalid.</div>
        </div>
      </md-input-container>

      <md-input-container flex="50">
        <label>Longitude</label>
        <input type="number" name="longitude" ng-model="$ctrl.survivor.longitude" />
        <div ng-messages="form.longitude.$error">
          <div ng-message="invalid">This value is invalid.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="md-warn" ng-if="$ctrl.survivor.id" ng-click="$ctrl.report()">
        <md-icon>bug_report</md-icon> Report infection
      </md-button>
      <md-button class="md-raised md-accent" ng-click="$ctrl.close()">Cancel</md-button>
      <md-button class="md-raised md-primary" type="submit">Save</md-button>
    </div>
  </form>

  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">Inventory of resources</md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.resources">
      <p>{{ item.resource.name }} <sub>{{ item.quantity || 0 }}</sub></p>
      <md-button class="md-secondary" ng-click="$ctrl.trade(item.resource.id)">
        <md-icon>swap_horiz</md-icon> Trade
      </md-button>
    </md-list-item>
  </md-list>
</md-content>

<div style="visibility: hidden">
  <div class="md-dialog-container" ng-controller="$ctrl.DialogController" ng-cloak id="reportDialog">
    <md-dialog>
      <form name="formDialog">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools">
            <md-icon>bug_report</md-icon>
            <h2>Report infection to '{{ $ctrl.survivor.name }}'</h2>
            <span flex></span>
          </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
          <p>For your tests, just now you can select a reporter:</p>
          <md-input-container>
            <label>Select a reporter</label>
            <md-select name="reporter_id" ng-model="reporter_id" required>
              <md-option ng-repeat="survivor in survivors" ng-value="survivor.id">{{ survivor.name }}</md-option>
            </md-select>
            <div ng-messages="formDialog.reporter_id.$error">
              <div ng-message="invalid">This value is invalid or not unique.</div>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button ng-click="cancel()">Cancel</md-button>
          <md-button class="md-raised md-warn"
            ng-click="done($ctrl.survivor, reporter_id)"
            ng-disabled="formDialog.$invalid">
            Report
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>

<div style="visibility: hidden">
  <div class="md-dialog-container" ng-controller="$ctrl.TradeController" ng-cloak id="tradeDialog">
    <md-dialog>
      <form name="formDialog">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-icon>swap_horiz</md-icon>
            <h2>Trade to '{{ $ctrl.survivor.name }}'</h2>
            <span flex></span>
          </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
          <p>For your tests, just now you can select the test data:</p>

          <div layout="row">
            <md-input-container>
              <label>Select a resource</label>
              <md-select name="resource_id" ng-model="resource_id" required>
                <md-option ng-repeat="resource in resourcesAll" ng-value="resource.id">{{ resource.name }}</md-option>
              </md-select>
              <div ng-messages="formDialog.resource_id.$error">
                <div ng-message="invalid">This value is invalid or not unique.</div>
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Select a receiver</label>
              <md-select name="survivor_id" ng-model="survivor_id" required>
                <md-option ng-repeat="survivor in survivors" ng-value="survivor.id">{{ survivor.name }}</md-option>
              </md-select>
              <div ng-messages="formDialog.survivor_id.$error">
                <div ng-message="invalid">This value is invalid or not unique.</div>
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button ng-click="cancel()">Cancel</md-button>
          <md-button class="md-raised md-warn"
            ng-click="done($ctrl.survivor, survivor_id, resource_id, $ctrl.resourceToTrade)"
            ng-disabled="formDialog.$invalid">
            Report
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>
