md-toast.md-success-theme .md-toast-content { color: #333; background-color: #dff0d8; }
md-toast.md-info-theme .md-toast-content { color: #333; background-color: #d9edf7; }
md-toast.md-warning-theme .md-toast-content { color: #333; background-color: #fcf8e3; }
md-toast.md-danger-theme .md-toast-content { color: #333; background-color: #f2dede; }

#loading-bar .bar {
  background: #aad1f9;
}

@media (min-width: 600px) {
  md-sidenav {
    width: calc(100% - 56px);
    min-width: calc(100% - 56px);
    max-width: calc(100% - 56px); } }
